<?xml version="1.0"?>
<!--
/**
 * Checkout Success-module for Magento 
 *
 * @category    Checkout
 * @package     Details_Checkout
 * @author      Nikita Nautiyal
 */ @for any queries email at: nautiyal.nikita@gmail.com
-->
<config>
  <global>
    <blocks>
      <checkout>
        <rewrite>
          <onepage_success>Details_Checkout_Block_Onepage_Success</onepage_success>
        </rewrite>
      </checkout>
    </blocks>
  </global>
  <frontend>
        <layout>
            <updates>
                <details_checkout>
                    <file>details_checkout.xml</file>
                </details_checkout>
            </updates>
        </layout>
    </frontend>
</config>